@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=Montserrat:wght@300;400;800&family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1{
  font-family: 'Dancing Script', cursive;
}
.carousel-item {
  width: 100%;
  height: 80vh;
}
.card-body img {
  min-width: 50%;
  max-height: 200px;
}

@media screen  and (max-width:768px){
  .carousel-item img{
    width: 100%;
    height: 80vh;
  }
}